<div class="container">
  <h2>Keep the economy rolling</h2>
  <p><%=@post.title%></p>
  <p><%=@post.description%></p>
  <p><%=@post.price%></p>
  <br>
  <br>
  <p>For more information contact: <a href = "mailto:<%=@post.user.email%>"><%=@post.user.name%></a></p>

</div>
